[submodule "Defen/vendor/spdlog"]
	path = Defen/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Defen/vendor/GLFW"]
	path = Defen/vendor/GLFW
	url = https://github.com/TheCherno/glfw
